/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.main {
  margin: 50px auto;
}

.button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 40px 0 20px 0;
  color: white;
  width: fit-content;
}
.button.red {
  background: #ff4081;
}
.button.red:hover {
  background: #f76b9a;
}
.button.blue {
  background: #3f51b5;
}
.button.blue:hover {
  background: #6577dc;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  line-height: 35px;
  margin: 5px 0 15px 0;
  outline: 0;
  border: none;
  background: #eee;
  border-radius: 5px;
  padding-left: 10px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
input[type="submit"] {
  border: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin-top: 40px;
}
.field select {
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  background: #eee;
  border-radius: 5px;
  width: 150px;
  font-family: "Open Sans", sans-serif;
}
.field textarea {
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  background: #eee;
  border-radius: 5px;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.alert,
.notice {
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 15px 0;
  font-size: 13px;
}
.alert {
  background: #ffdbdb;
  color: #b95757;
}
.notice {
  background: #d5ffd1;
  color: #31986a;
}
ul.alert {
  padding-left: 40px;
}

.no_product {
  text-align: center;
}
.no_product img {
  margin-top: 60px;
  opacity: 0.6;
}
.no_product p {
  font-size: 18px;
  margin-top: 30px;
}

/* Header */
.header {
  background: #3f51b5;
  height: 50px;
  width: 100%;
}

.header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header a {
  color: white;
}

.header .logo {
  padding-left: 5px;
  font-size: 22px;
}

.header .menu {
  display: flex;
}
.header .menu div {
  padding: 0 20px;
  font-size: 16px;
}

/* Footer */
.footer {
  background: #3f51b5;
  height: 250px;
  width: 100%;
  padding: 50px 0;
  margin-top: 200px;
}

.footer .container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  color: white;
}

.footer a {
  color: white;
}
.footer a:hover {
  color: #bbdefb;
}

.footer .logo {
  padding-left: 5px;
  font-size: 22px;
}

.footer .menu a {
  padding: 3px 0;
  font-size: 12px;
  display: block;
}
.footer .title {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #bbdefb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
