// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_listing {
  max-width: 800px;

  input#product_picture {
    margin: 10px 0 25px 0;
  }
}

.product {
  display: flex;
  .product_info {
    flex-grow: 1;
    margin-right: 50px;
    h1 {
      margin-top: 0;
    }
    .description {
      white-space: pre-wrap;
    }
  }
  .seller_info {
    width: 250px;
    background: #efefef;
    border-radius: 10px;
    padding: 30px 50px;
    h2 {
      margin-top: 0;
    }
  }
  .button {
    text-align: center;
    background: #ff4081;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 40px 0 20px 0;
    color: white;
    &:hover {
      background: #f76b9a;
    }
  }
}
